*{
    margin: 0px;
    padding:0px;
}
body{
    width:100%;
    height:100%;
    /*font-family: SimHei,'Hiragino Sans GB',STHeiti,'Microsoft YaHei','WenQuanYi Micro Hei';*/
    font-size: 0.7em;
}

#fly{
    position:absolute;
    right:15px;
    top:50%;
    cursor: pointer;
}
#fly div{
    width:60px;
    height:25px;
    line-height: 25px;
    text-align: center;
    background: rgba(31, 145, 214, 0.78);
    box-shadow: 1px 1px 1px 1px #7D9CDC;
    opacity: 0;
}

#rocket{
    position: fixed;
    float: right;
    width:80px;
    height:80px;
    background: transparent  url("../images/img_rocket.png") no-repeat;
    top:50%;
    right:5px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

#menu{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #0b0b18;
}
#menu div{
    width: 100%;
    height: 50px;
    background: #0a0b11;
    border-bottom: 1px solid #578e77;
    text-align: center;
    cursor: pointer;
}
#menu div:hover{
    background: #57ffbf;
}
#menu div span{
    font-family: SimHei,'Hiragino Sans GB',STHeiti,'Microsoft YaHei','WenQuanYi Micro Hei';
    font-size: 1.5em;
    color: #9f9f92;
    line-height: 50px;
}


#personInfo{
    position:fixed;
    margin-left: 60px;
    width:340px;
    height:100%;
    background: url("../images/img_personInfo.jpg") no-repeat;
    background-attachment: scroll;
    /*background-position:center;*/
    /*-webkit-background-size: 100% 100%;*/
    /*background-size: 100% 100%;*/
}

#personInfo div {
    width: 100%;
    height: 100%;
    /*background-color: rgba(146, 150, 46, 0.3);*/
}

#personInfo div:first-child {
    text-align: center;
}
#personInfo div:first-child img {
    margin-top:100px;
    margin-bottom: 20px;
    border-radius:100%;
}
#personInfo div:first-child h1 {
    color:#fff;

}
#personInfo div:first-child h2 {
    color:#fff;
}


#main{
    display:inline-block;
    height:600px;
    width:66%;
    margin-left:30%;
    padding:40px 25px;
}

#search{
    float:right;

}
#search input{
    width:100px;
    height:25px;
    padding-left: 25px;
    background:url("../images/img_search.png") no-repeat ;
    background-position-x: 5px;
    -ms-background-position-y:5px;
    background-position-y: 5px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;
    border:1px solid #A8A8A8;
    box-shadow: inset 0px 0px 1px 0px #888888;
}

#article{
    margin:50px 40px 30px 20px;
}

aside#comment-bar{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
    /*right: 0px;*/
    right: -300px;
    padding: 30px;
    border-left: 1px solid rgba(128, 128, 128, 0.44);
    background: #fff;
    overflow-y: scroll;
    opacity: 0;
}
.comment-header img{
    float: left;
    width: 50px;
    margin-right: 10px;
}
.comment-header h3{
    line-height: 30px;
}
.content{
    color: #4C4C4C;
    line-height: 1.4em;
    clear: left;
    margin: 20px 0;
    /*text-indent: 2em;*/
    font-size: 1.3em;

}
.comment-menu{
    list-style-type: none;
    height: 20px;
    text-align: center;
    line-height: 20px;
    /*background: rgba(222, 222, 222, 0.29);*/
    padding: 10px;
    transition: opacity 1s;
    opacity: 0.1;
}
.comment-menu:hover{
    opacity: 1;
}
.comment-menu li{
    cursor: pointer;
    float: left;
    width: 30%;
    text-align: center;
    border-right: 1px solid rgba(128, 128, 128, 0.62);
}
.comment-menu li:last-child{
    border: none;
}
.comment-detail{
    border-bottom: 1px solid gray;
    padding: 14px 0;
}

#comment-form{
    position: fixed;
    top: 0;
    /*right: 361px;*/
    right: -361px;
    background: #fff;
    width: 300px;
    /*width: 0px;*/
    padding: 20px;
    opacity: 0;
}

#comment-form h2{
    padding: 10px 0px 20px;
}

#comment-form textarea{
    width: 92%;
    height: 100px;
}

#comment-form #author-text{
    width: 40%;
    height: 20px;
    float: left;
    margin: 5px 0;

}
#comment-form #email-text{
    width: 40%;
    height: 20px;
    float: right;
    margin: 5px 0;

}
#comment-form #url-text{
    width: 92%;
    height: 20px;
    margin: 5px 0;

}
#comment-form button{
    width: 100%;
    height: 38px;
    margin: 5px 0px;
    background: #50abcd;
    border: 1px solid rgba(31, 145, 214, 0.78);
    border-radius: 2px;
    color: white;
}
.input-style{
    font-size: 1.5em;
    padding: 10px;
}
.input-style:focus{
    box-shadow: 0 0 10px #50ABCD;
    border: 2px solid #50ABCD;
}
#reply-text:focus{
    box-shadow: 0 0 10px #50ABCD;
    border: 1px solid #50ABCD;
}

#comment-img{
    position: fixed;
    top: 50%;
    right: 10px;
}
#comment-img i{
    font-size: 35px;
    opacity: 0.3;
    cursor: pointer;
}
#comment-img span{
    position: absolute;
    top: -1px;
    right: -8px;
    padding: 2px 7px;
    background: rgba(255, 0, 0, 0.77);
    border-radius: 9px;
}

#close-button{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right:10px;
    opacity: 0.5;
    cursor: pointer;
}






